<!DOCTYPE HTML>
{# Grundgerüst #}
{#	{% Forschleifen, ... ausführen %}	#}
{#	{{ Ausdruck ausgeben }}	#}
<html>
	<head>
		<title>Hufflepuff-News</title>
		{% block css %}
		<style>
			body {
				{% block cssbody %}
				margin: 0px;
				padding: 0px;
				background: url(http://www.huffle-home.de/newsletter/paper.gif);
				{% endblock %}
			}
			img {
				{% block cssimg %}
				position: absolute;
				top: 0px;
				left: 0px;
				height: 380px;
				width: 380px;
				z-index: 300;
				{% endblock %}
			}
			textarea {
				border: 2px solid black;
				background: url(http://www.huffle-home.de/newsletter/paper.gif);
        		text-align: center;
        		font-family: 'Comic Sans MS', sans-serif;
        		font-size: 1em;
        		left: 200px;
        		right: 50px;
			}
			#inhalt {
				{% block cssinhalt %}
				position: absolute;
				top: 200px;
				left: 200px;
				right: 50px;
				z-index: 600;
				text-align: center;
				font-family: 'Comic Sans MS', sans-serif;
				font-size: 1.3em;
				{% endblock %}
			}
			#nichthtmltext {
				background: white;
				text-align: left;
				font-family: monospace;
				font-size: 0.8em;
				font-style: inherit;
			}
			.error {
				font-size: 0.8em;
				color: #ff0000;
			}
		</style>
		{% endblock %}
	</head>
	<body {% block stylebody %}{% endblock %}>
    	<img {% block styleimg %}{% endblock %} src="http://www.huffle-home.de/newsletter/logo.png" alt="Hufflepuff-Newsletter">
		<div id="inhalt" {% block styleinhalt %}{% endblock %}>
			{% autoescape true %}
			{% block content %}{% endblock %}
			{% endautoescape %}
    	</div>
	</body>
</html>