{% extends "basis.twig" %}

{% block content %}
	<p>Herzlichen Gl&uuml;ckwunsch, {{ name }}!<br>
	Du hast dich jetzt erfolgreich eingetragen.<br>
	Wir senden dir jetzt automatisch den letzten Newsletter (Nummer {{ lastnumber }} vom {{ lastdate }}) zu.</p>
    <p>Viel Spa&szlig; beim Lesen, deine Hufflepuff-VS.</p>
{% endblock %}