{% extends html ? "htmlemail.twig" : "textemail.twig" %}

{% block content %}
	<p>Hallo {{ name }}!</p>
	<p>Du (oder jemand anders?) hat deine Mailadresse für die Hufflepuff-News eingetragen.
    Um zu bestätigen, dass du die Hufflepuff-News wirklich empfangen willst, rufe die Seite
    <a href='{{ global.request.uriForPath("/confirm/" ~ token) }}'> {{ global.request.uriForPath("/confirm/" ~ token) }}</a> auf.</p>
    {% if newsletter %} <p>Du bekommst dann auch gleich unseren letzten Newsletter zugeschickt.</p> {% endif %}
    <p>Deine Hufflepuff-VS</p>
{% endblock %}
