{% extends "basis.twig" %}

{% block moenchcontent %}
	<p>Herzlichen Gl&uuml;ckwunsch, {{ name }}!<br>
	Du hast dich erfolgreich eingetragen.
	{% if newsletter %}
	<br>
	Die Huffle-Vertrauenssch&uuml;ler senden dir jetzt automatisch den letzten Newsletter (Nummer {{ newsletter.number }} vom {{ newsletter.date|date("j.m.Y") }}) zu.
	{% endif %}
	</p>
    <p>Viel Spa&szlig; beim Lesen!</p>
{% endblock %}
