{% extends "basis.twig" %}

{% block moenchcontent %}
	<div id=userliste>
		<p>Dies sind unsere User:</p>
		<table>
			{% for user in users %}
				<tr>
					<td> <a href='{{ app.request.uriForPath("/options/" ~ user.token) }}'>[Edit]</td>
					<td>{{ user.name }}</td>
					<td>{{ user.email }}</td>
				</tr>
			{% else %}
			<tr><td>Niemand registriert.</td></tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}