{% extends "basis.twig" %}

{% block moenchcontent %}
	{% if success %}
		<p>Hallo {{ name }}!</p>
		<p>Sch&ouml;n, dass du dich f&uuml;r die Hufflepuff-News interessierst.<br>
		Die Hufflepuff-VS haben dir eine Mail geschickt, damit du das ganze nochmal best&auml;tigen kannst. Falls bis in einer Stunde noch keine Mail angekommen ist (auch nicht im Spam-Ordner), 
    	schreib den den Hufflepuff-VS eine Mail. Aber eigentlich sollte es schon klappen ;-)</p>
    	<p>Viel Spa&szlig; w&uuml;nsche ich dir!</p>
	{% else %}
		<p>Hallo {{ name }}!</p>
		<p>Da ist wohl etwas beim Versenden der Mail mit dem Best&auml;tigungslink schiefgelaufen =(</p>
		<p>Wende dich bitte an einen der Hufflepuff-VS.</p>
    {% endif %}
{% endblock %}