{% extends "basis.twig" %}

{% block content %}
	<p>Hallo {{ name }}!</p>
	<p>Sch&ouml;n, dass du dich f&uuml;r die Hufflepuff-News interessierst.<br>
	Wir haben dir eine Mail geschickt, damit du das ganze nochmal best&auml;tigen kannst. Falls bis in einer Stunde noch keine Mail angekommen ist (auch nicht im Spam-Ordner), 
    schreib uns eine Mail. Aber eigentlich sollte es schon klappen ;-)</p>
    <p>Viel Spa&szlig;, deine Hufflepuff-VS.</p>
{% endblock %}