{% extends html ? "htmlemail.twig" : "textemail.twig" %}

{% block content %}
	<p>{{ text }}</p>
	<p style="font-size: 0.7em;">
	M&ouml;chtest du die Newsletter oder Benachrichtigungen abbestellen oder deine E-Mail-Adresse &auml;ndern?
    <a href='http://www.huffle-home.de/newsletter/options/{{ token }}'>http://www.huffle-home.de/newsletter/options/{{ token }}</a> auf.
    </p>
{% endblock %}