{% extends html ? "htmlemail.twig" : "textemail.twig" %}

{% block content %}
	<p>{{ text|raw }}</p>
	<p style="font-size: 0.7em;">
	Möchtest du die Newsletter oder Benachrichtigungen abbestellen oder deine E-Mail-Adresse ändern?
    Dann rufe einfach <a href='{{ global.request.uriForPath("/options/" ~ token) }}'>{{ global.request.uriForPath("/options/" ~ token) }}</a> auf.
    </p>
{% endblock %}
